<section>
  <main [formGroup]="resposta">
    <h1>{{motor.grade[motor.atual].aula}}</h1>
    <div>
      <div id="selos">
        <p>Selo de mãos</p>
        <div>
          <label *ngFor="let selo of selos; let i=index">
            <img src="/assets/img/maos/{{selo.img}}" alt="Selo {{selo.name}}">
            <input type="checkbox" name="rato" value="0" id="selo-{{selo.name}}" (change)="selectSelo('#selo-'+selo.name, i)" />
            <span>{{selo.slect}}</span>
          </label>
        </div>
      </div>
      <div>
        <div id="espirito-corpo">
          <p>Corpo e espirito</p>
          <img src="/assets/img/corpo-espirito.png" alt="Copo e Espirito">
          <p id="legenda-equilibrio">{{resposta.controls.rotateEquilibrio.value}}</p>
          <input
            min="0"
            value="0"
            max="360"
            type="range"
            formControlName="rotateEquilibrio"
            (mousemove)="changeRotate()"
          />
        </div>
        <div id="chakara">
          <p>Chakara acumulado</p>
          <div>
            <img src="/assets/img/fire.png" alt="Fire" />
            <input (change)="saveChakara()" formControlName="slide" type="range" max="100" min="0" value="0" />
            <img src="/assets/img/fire.png" alt="Fire" />
          </div>
          <p id="legenda-chakara">{{resposta.controls.slide.value}}</p>
        </div>
      </div>
    </div>
  </main>
  <div>
    <h1><img src="/assets/img/logo.png" alt="Ninjutsu Learn" /></h1>
    <img src="/assets/img/normal.png" alt="genin" />
    <button (click)="responder()">Executar o Jutsu</button>
  </div>
</section>
