<section>
  <div>
    <header>
      <div>
        <h2>Aula {{motor.atual + 1}}</h2>
        <h3>{{motor.grade[motor.atual].aula}}</h3>
        <h4>{{motor.grade[motor.atual].traducao}}</h4>
        <p>{{motor.grade[motor.atual].descricao}}</p>
      </div>
      <h1><img src="/assets/img/logo.png" alt="Ninjutsu Learn" /></h1>
    </header>
    <div id="video">
      <div id="titles-video">
        <p>3</p>
        <p>2</p>
        <p>1</p>
        <p>Learn!</p>
      </div>
      <video id="video-aula" src="/assets/video/aula{{motor.grade[motor.atual].video}}.mp4"></video>
      <div id="painel">
        <img ng-style="" src="/assets/img/marca-video.png" alt="Painel de controle" id="marca-controle" />
        <img src="/assets/img/corpo-espirito.png" alt="Circulo de espirito" id="corpo-espirito" />
        <span></span>
        <div id="animation-aula"></div>
      </div>
    </div>
  </div>
  </section>
