section
  min-height: 100vh
  max-width: 100%
  min-width: 100%
  width: 100%
  background-image: url('/assets/img/back.jpg')
  background-position: center
  background-size: cover
  color: white

  header
    width: 100%
    display: flex
    align-items: flex-start
    justify-content: space-between
    padding: 20px


    h2
      font-weight: normal
      font-size: 28px
      letter-spacing: 1px
      margin-bottom: -5px

    h3
      font-weight: bolder
      font-size: 32px
      text-transform: uppercase

    h4
      font-size: 28px
      margin-top: -5px
      margin-bottom: 20px
      font-weight: normal

    p
      padding: 10px
      background: rgba(0,0,0,0.5)
      border-radius: 5px
      color: white
      font-size: 16px
      max-width: 400px

    img
      max-width: 200px
