section
  min-height: 100vh
  max-width: 100%
  min-width: 100%
  width: 100%
  background-image: url('/assets/img/back.jpg')
  background-position: center
  background-size: cover
  color: white

  &>div
    background-color: rgba(0,0,0,0.7)
    min-height: 100vh
    position relative
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center

  header
    width: 100%
    display: flex
    align-items: flex-start
    justify-content: space-between
    padding: 20px
    z-index: 2
    position: relative
    position: absolute
    top: 0
    left: 0


    h2
      font-weight: normal
      font-size: 28px
      letter-spacing: 1px
      margin-bottom: -5px

    h3
      font-weight: bolder
      font-size: 32px
      text-transform: uppercase

    h4
      font-size: 28px
      margin-top: -5px
      margin-bottom: 20px
      font-weight: normal

    p
      padding: 10px
      background: rgba(0,0,0,0.5)
      border-radius: 5px
      color: white
      font-size: 16px
      max-width: 400px

    img
      max-width: 200px

  #video
    position: relative
    line-height: 0

    #titles-video
      position: absolute
      top: 50%
      left: 50%
      text-align: center

      p
        position: absolute
        top: 0
        left: 50%
        opacity: 0
        font-size: 90px
        color: #ff9100
        width: max-content
        font-weight: bolder
        transform: translate(-50%, 0)
        -webkit-text-stroke: .2px white
        animation: title-anime 1s forwards

        &:nth-child(1)
          animation-delay: 0
        &:nth-child(2)
          animation-delay: 1s
        &:nth-child(3)
          animation-delay: 2s
        &:nth-child(4)
          animation-delay: 3s

    video
      max-width: 100%
      max-height: 100vh
      opacity: 0
      animation: start-video .5s forwards
      animation-delay: 4s

    #painel
      opacity: 0
      position: absolute
      bottom: 0
      left 50%
      width: 100%
      max-width: 600px
      overflow: hidden
      transform: translate(-50%, 0)
      animation: start-video .5s forwards
      animation-delay: 4s

      #corpo-espirito
        position: absolute;
        top: 5%;
        left: 6.2%;
        height: 90%;

      #legenda-equilibro
        position: absolute
        transform: translate(-50%, 0%)
        bottom: 0%
        left: 14.5%
        line-height: 1em
        font-size: 18px
        -webkit-text-stroke: .5px
        text-shadow: 2px 2px 2px #000
        background: #ffbb00
        padding: 3px 8px
        border-radius: 10px

      span
        position: absolute
        bottom: 14%
        left: 24%
        display: table
        width: 3%
        height: 32%
        background-color: rgba(204, 81, 23, .8)
        border: solid 4px white
        border-radius 10px

        p
          position: absolute
          top: -.6em
          font-size: 23px
          left: 50%
          transform: translate(-50%, 0)
          font-weight: bold
          text-shadow: 2px 2px 2px black

@keyframes title-anime
  0%
    opacity 0
    transform translate(-50%, 0) scale(0.1)

  85%
    opacity 1
    transform translate(-50%, 0) scale(1)

  90%
    opacity 1
    transform translate(-50%, 0) scale(1)

  100%
    opacity 0
    transform translate(-50%, 0) scale(1.2)

@keyframes start-video
  0%
    opacity 0

  100%
    opacity 1
